@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

// Font weights

.fw-lig {
    font-weight: 400;
}


.fw-med {
    font-weight: 500;
}


.fw-bold {
    font-weight: 700;
}